<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cz.honzakasik.geography" >
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:hardwareAccelerated="true"
        android:theme="@style/MyMaterialTheme">
        <activity
            android:name=".MainMenuActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".games.ResultsActivity"
            android:label="@string/activity_results_title" >
        </activity>
        <activity
            android:configChanges="orientation|screenSize"
            android:name=".education.location.LocationActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:configChanges="orientation|screenSize"
            android:name=".games.quiz.FlagQuizActivity"
            android:label="@string/activity_flag_quiz_title" >
        </activity>
        <activity
            android:configChanges="orientation|screenSize"
            android:name=".education.flags.FlagOverviewActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:configChanges="orientation|screenSize"
            android:name=".games.location.GuessCountryByFlagActivity"
            android:label="@string/activity_map_quiz_title">
        </activity>
        <activity
            android:configChanges="orientation|screenSize"
            android:name=".games.location.GuessCountryByCapitalActivity"
            android:label="@string/activity_map_quiz_title">
        </activity>
        <activity
            android:configChanges="orientation|screenSize"
            android:name=".games.location.GuessCountryByNameActivity"
            android:label="@string/activity_map_quiz_title">
        </activity>
        <activity
            android:configChanges="orientation|screenSize"
            android:name=".MapQuizMenuActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:configChanges="orientation|screenSize"
            android:name=".QuizMenuActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:configChanges="orientation|screenSize"
            android:name=".games.quiz.QuizActivity"
            android:label="@string/activity_quiz_title">
        </activity>
        <activity
            android:configChanges="orientation|screenSize"
            android:name=".LearningMenuActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:configChanges="orientation|screenSize"
            android:name=".settings.SettingActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:configChanges="orientation|screenSize"
            android:name=".settings.UsersManagementActivity"
            android:label="@string/settings_manage_users">
        </activity>

        <!-- Activity uses custom toolbar so there is need to disable default toolbar by setting
            @style/MyMaterialThemeNoActionBar theme to it. -->
        <activity
            android:theme="@style/MyMaterialThemeNoActionBar"
            android:configChanges="orientation|screenSize"
            android:name=".education.location.CountryInfoActivity"
            android:label="@string/app_name">
        </activity>
        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
